#footerText {
	color: #2196f3;
}
.material-icons.md-48 { font-size: 48px; }

#headerTitle {
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 2s;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;

}

@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

#navBarTrans {
	animation-delay: 1.2s;
	animation: wipeIn 1.2s ease-in-out;
}

@-webkit-keyframes wipeIn {
	-webkit-animation-name: wipeIn;
}

@keyframes wipeIn {
	from {transform: scale(0, 1);}
	to {transform: scale(1, 1);}
}

#navElements {
	-webkit-animation-name: navFade;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 1.3s;
	-webkit-animation-fill-mode: forwards;
	animation-name: navFade;
	animation-duration: 1s;
	animation-delay: 1.3s;
	transform: translateY(-50px);
	animation-fill-mode: forwards;
}

@keyframes navFade {
	from {transform: translateY(-50px);}
	to {transform: translateY( 0px);}
}

#myCarousel {
	-webkit-animation-delay: 0.3s;
	-webkit-animation: carouselFade 1.3s ease-in-out;
	animation-delay: 0.3s;
	animation: carouselFade 1.3s ease-in-out;
}

@-webkit-keyframes carouselFade {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes carouselFade {
	from {opacity: 0;}
	to {opacity: 1;}
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	filter: invert(100%);
}

.carousel-control-prev-icon {
	margin-right: 40%;
}

.carousel-control-next-icon {
	margin-left: 45%;
}
.carousel-control-prev {
	width:5%;
}

.carousel-control-next {
	width:5%;
}
